.clear {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.frame {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
}
.fr-convex {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-concave {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #222;
  background: url('../img/t1.jpg') center center;
  background-attachment: fixed;
  background-size: cover;
  color: #555;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
  font-family: sans-serif;
  /*font-family: Comic Sans MS, Comic Sans MS5, cursive; /* you can delete this =) */
}
img {
  border: none;
}
button,
.bt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .2em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
button:hover,
.bt:hover {
  background: #888888;
}
button:active,
.bt:active {
  background: #666666;
}
.mod_win {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: fixed;
  width: 95%;
  max-width: 50em;
  min-height: 15em;
  top: 1em;
  z-index: 999;
  background: #fff;
  color: #222;
  cursor: default;
  font-weight: normal;
}
#dbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.7);
}
th,
td {
  background: rgba(0, 0, 0, 0.5);
  color: #ddd;
  width: 1px;
  height: 1px;
  font-size: 150%;
  padding: 2px 4px;
  text-shadow: 1px 1px 2px black;
}
th {
  font-weight: bold;
}
#panel {
  width: 100%;
}
#panel .block {
  margin: .2em 0;
  padding: .3em;
  background: rgba(0, 0, 0, 0.5);
}
#panel .s_block {
  margin: .2em 0;
  padding: .3em;
  background: rgba(0, 0, 0, 0.5);
  min-width: 13em;
  max-width: 16em;
  text-align: right;
  min-height: 22px;
  color: #eeeeee;
}
#panel .s_sp {
  margin: 0;
  padding: .1em;
  width: 9em;
}
#panel h2 {
  font-size: 110%;
  padding: 0;
  margin: .2em 0;
  color: #fff;
}
#panel .bt {
  min-width: 1em;
  min-height: 1em;
}
#panel #p_name {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  min-height: 1em;
  padding: .2em;
}
#panel input[type='checkbox'] {
  display: none;
}
#panel input[type='checkbox'] + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 2.2em;
  min-height: 1em;
  text-align: center;
  background: #888888;
  display: inline-block;
  padding: .3em;
}
#panel input[type='checkbox'] + label:hover {
  background: #999999;
}
#panel input[type='checkbox'] + label:active {
  background: #777;
}
#panel input[type='checkbox'] + label input {
  display: none;
}
#panel input[type='checkbox']:checked + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #555555;
  padding: .3em;
}
#panel .hidden_m {
  display: none;
  padding: .25em 0;
  color: #777;
}
#panel .hidden_m:hover {
  color: #fff;
}
#panel .panl .bt {
  display: block;
}
.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  animation: a_rotate 3s infinite steps(60);
  -webkit-animation: a_rotate 3s infinite steps(60);
  /* Chrome, Safari, Opera */
}
.loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5px;
  border-right-width: 0;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  display: inline-block;
  width: 9px;
  height: 20px;
  margin: 5px;
  margin-right: 0;
  border-radius: 20px 0 0 20px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_border_left  2s infinite;
  -webkit-animation: a_border_left  2s infinite;
  /* Chrome, Safari, Opera */
}
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 5px;
  border-left-width: 0;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  display: inline-block;
  width: 9px;
  height: 20px;
  margin: 5px;
  margin-left: 0;
  border-radius: 0 20px 20px 0;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_border_right  12s infinite;
  -webkit-animation: a_border_right  2s infinite;
  /* Chrome, Safari, Opera */
}
@keyframes a_rotate {
  from {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    /* Для Firefox */
    -ms-transform: rotate(0deg);
    /* Для IE */
    -webkit-transform: rotate(0deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg);
    /* Для Opera */
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /* Для Firefox */
    -ms-transform: rotate(360deg);
    /* Для IE */
    -webkit-transform: rotate(360deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(360deg);
    /* Для Opera */
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes a_rotate {
  from {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    /* Для Firefox */
    -ms-transform: rotate(0deg);
    /* Для IE */
    -webkit-transform: rotate(0deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg);
    /* Для Opera */
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /* Для Firefox */
    -ms-transform: rotate(360deg);
    /* Для IE */
    -webkit-transform: rotate(360deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(360deg);
    /* Для Opera */
  }
}
@keyframes a_border_left {
  0% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  25% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  50% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  75% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  100% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes a_border_left {
  0% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  50% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  25% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  75% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  100% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
}
@keyframes a_border_right {
  0% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  25% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  50% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  75% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  100% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes a_border_right {
  0% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  25% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  50% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  75% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  100% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
}
@media screen and (min-width: 50em) {
  #panel {
    float: left;
    width: 16em;
  }
}
#wrap {
  width: 100%;
  min-width: 300px;
  padding: .1em;
}
#wrapafter,
#wrapbefore {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.load {
  display: table;
  background: rgba(0, 0, 0, 0.6);
  padding: .5em;
  color: #eeeeee;
  font-weight: bold;
  font-size: 120%;
  position: relative;
  padding-left: 50px;
  min-height: 40px;
}
.load .loader {
  position: absolute;
  top: 0;
  left: 0;
}
#result {
  margin-left: 0;
}
.monster,
.monster_card {
  position: relative;
}
.monster .hide_monster,
.monster_card .hide_monster {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.monster:hover .hide_monster,
.monster_card:hover .hide_monster {
  display: block;
}
.monster {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
  /*float: left;
	width: 30%;*/
  margin: 10px 15px;
  padding: 10px;
  position: relative;
}
.monster .i-tipe {
  text-transform: uppercase;
  font-weight: bold;
  color: #5A0000;
}
.monster .i2-tipe {
  font-weight: bold;
  padding: 0 0.4em 0 0;
  font-style: italic;
}
.monster .i3-tipe {
  font-weight: bold;
  color: #5A0000;
  margin: .5em 0 0 .2em;
  font-size: 120%;
  border-bottom: 1px solid #5A0000;
}
.monster .i4-tipe {
  margin: .5em 0;
}
.monster hr {
  border: none;
  height: 1px;
  background: #5A0000;
}
.monster .name {
  font-size: 120%;
  font-weight: bold;
  color: #5A0000;
}
.monster .size,
.monster .type,
.monster .alignment {
  font-style: italic;
  padding: 0 0.4em 0 0;
}
.monster .stats > span {
  padding: 0 0.6em 0 0;
}
.monster_card {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
  /*float: left;
	width: 30%;*/
  font-size: 90%;
  width: 100%;
  min-width: 45em;
  max-width: 188mm;
  height: 136mm;
  background: #5A0000;
  border-color: #5A0000;
  margin: 10px auto;
  padding: 0;
  overflow: hidden;
  float: none;
  clear: both;
  position: relative;
  page-break-inside: avoid;
}
.monster_card:after,
.monster_card:before {
  content: "";
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.monster_card .left,
.monster_card .right {
  display: block;
  width: 50%;
  height: 136mm;
  float: left;
  padding: .2mm;
}
.monster_card .left .inner,
.monster_card .right .inner {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
  background: #fff;
  padding: .4em;
  height: 133mm;
  margin: 1mm;
}
.monster_card .i-tipe {
  text-transform: uppercase;
  font-weight: bold;
  color: #5A0000;
}
.monster_card .i2-tipe {
  font-weight: bold;
  padding: 0 0.4em 0 0;
  font-style: italic;
}
.monster_card .i3-tipe {
  font-weight: bold;
  color: #5A0000;
  margin: 0 0 0 .2em;
  font-size: 120%;
  border-bottom: 1px solid #5A0000;
}
.monster_card .i4-tipe {
  margin: .5em 0;
  font-size: 90%;
}
.monster_card hr {
  border: none;
  height: 1px;
  background: #5A0000;
}
.monster_card .name {
  font-size: 120%;
  font-weight: bold;
  color: #5A0000;
}
.monster_card .size,
.monster_card .type,
.monster_card .alignment {
  font-style: italic;
  padding: 0 0.4em 0 0;
  font-size: 90%;
}
.monster_card .stats > span {
  padding: 0 0.6em 0 0;
}
.monster_card .stats .str,
.monster_card .stats .dex,
.monster_card .stats .con,
.monster_card .stats .int,
.monster_card .stats .wis,
.monster_card .stats .cha {
  display: inline-block;
  width: 4em;
}
@media screen and (min-width: 50em) {
  #result {
    margin-left: 16em;
    overflow: hidden;
  }
}
@media print {
  #wrap {
    overflow-x: hidden;
  }
  body {
    background: #fff;
    background-image: none;
    margin: 0;
    padding: 0;
  }
  #panel,
  #helper {
    display: none;
  }
  #result {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 0;
    overflow: hidden;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  .left,
  .right {
    wisth: 50%;
  }
  #wrap {
    margin: 0;
    padding: 0;
  }
  .monster_card {
    margin: 0;
    border-radius: 0;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  .pagebreak {
    page-break-after: always;
  }
  .monster:hover .hide_monster,
  .monster_card:hover .hide_monster {
    display: none;
  }
}
@page {
  margin: 0.5cm;
}

/*# sourceMappingURL=Monsters.css.map */