#panel{
    //float: left;
    @w: 1em;
    @h: @w;
    //width: 16em;
    width: 100%;
    .block{
        margin: .2em 0;
        padding: .3em;
        background: rgba(0,0,0,.5);
    }
     .s_block{
          .block;
       // float: left;
        min-width: 13em;
        max-width: 16em;
       // width: 98%;
        //margin: .2em;
        text-align: right;
        min-height: 22px;
        color: @white - #111;
    }
    .flt{
       // background: rgba(0,0,0,0.2);
    }
    .s_sp{
        margin: 0;
        padding: .1em;
        width: 9em;
    }
    
    h2{
        font-size: 110%;
        padding: 0;
        margin: .2em 0;
        color: @white;
    }
    .bt{         
        min-width: @w;
        min-height: @h;
    }
    #p_name{
        .fr-concave;
        display: inline-block;
        min-height: @h;
        padding: .2em;
      
    }
    input[type='checkbox']{
        display: none;
    }
    
    input[type='checkbox'] + label{
            .fr-convex;    
            @w: 2.2em;
            @h: 1em;
            min-width: @w;
            min-height: @h;
            text-align: center;
            background: @m-gray + #111;
           // width: 100%;
            display: inline-block;
            padding: .3em;
            &:hover{
                background: @m-gray + #222;    
            }
            &:active{
                background:  @m-gray;    
            }
            input{
                display: none;
            }
        }
    input[type='checkbox']:checked + label{
        .fr-concave;
        background:  @m-gray - #222;  
        padding: .3em;  
    }
    
    .hidden_m{
        display: none;
        padding: .25em 0;
        color: @m-gray;
        &:hover{
            color: @white;
        }
    }
    .panl{
        .bt{
            display: block;
        }
    }
}
@media screen and (min-width: @m_w_1) {
    #panel{
        float: left;
        @w: 1em;
        @h: @w;
        width: 16em;
    }    
}
