.clear {
  float: none!important;
  clear: both!important;
  display: table!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.flexChild {
  flex-grow: 1;
}
.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}
.frame {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-bottom-width: 2px;
}
.fr-convex {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-concave {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  color: #555;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-size: 12px;
  background-color: #222;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  counter-reset: p_num 0;
}
img {
  border: none;
  display: inline-block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10.5px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
br {
  clear: both;
}
p {
  margin: 0 0 10.5px;
}
.wrap {
  overflow: hidden;
  float: none;
  clear: both;
}
.p_cont {
  width: 100%;
  padding: 10px 0;
}
.p_side {
  width: 100%;
}
.p_top {
  width: 100%;
}
#before_monsters {
  font-weight: bold;
  padding: .2em;
  display: inline-block;
  color: #fff;
}
.combo_box {
  position: relative;
}
.combo_box:after,
.combo_box:before {
  content: "";
  float: none!important;
  clear: both!important;
  display: table!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.combo_box input[type=checkbox] {
  display: none;
  position: relative;
  /**/
}
.combo_box input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  top: .4em;
  left: -1.1em;
  background: #ddd;
  border: 0.2em solid #cccccc;
  border-radius: 3px;
  transition: border-color 0.2s ease-out;
  box-shadow: inset 0 0 0px 2px #ddd;
}
.combo_box input[type=checkbox]:hover + label::before,
.combo_box input[type=checkbox]:checked:hover + label::before {
  border-color: #aaaaaa;
}
.combo_box input[type=checkbox]:checked + label::before {
  border-color: #bbbbbb;
}
.combo_box input[type=checkbox]:checked + label::after {
  content: "\2714";
  position: absolute;
  top: -0.1em;
  left: -0.75em;
  color: #487EC5;
  font-size: 150%;
}
.combo_box label {
  display: block;
  padding: .2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 1.4em;
  z-index: 9;
  position: relative;
  color: #222;
  transition: background 0.2s ease-out;
}
.combo_box label[data-hierarchy="child"] {
  margin-left: 2.52em;
}
.combo_box label:hover {
  background: #cccccc;
  cursor: pointer;
}
.combo_box .combo_box_content {
  background: #ddd;
  padding: .3em 0;
}
.combo_box_arrow {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0.4em 0.2em;
  text-align: center;
}
.combo_box_arrow:hover {
  background: #888888;
}
.combo_box_arrow:active {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0.4em 0.2em;
}
.combo_box_title {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  margin: 0;
  padding: 0.4em 0.2em;
  text-align: center;
}
.combo_box_title:hover {
  background: #888888;
}
.combo_box_title:active {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0.4em 0.2em;
}
.customSelect {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: 0;
  display: block;
  cursor: pointer;
  text-align: center;
  margin: 0;
  position: relative;
  font-size: 100%;
  width: 100%;
}
.customSelect:hover {
  background: #888888;
}
.customSelect:active {
  background: #666666;
}
.customSelect .label {
  padding-right: 2.2em !important;
  position: relative;
  padding: .5em .2em;
  margin: 0em 0em;
}
.customSelect .label:before {
  content: "▼";
  position: absolute;
  right: .3em;
  padding: 0 .2em;
  transition: color .3s, background .3s;
}
.customSelect .label:after {
  content: "";
  position: absolute;
  right: 1.7em;
  top: .2em;
  bottom: .2em;
  border-left: 2px ridge #999999;
}
.customSelect .list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 33;
  background: #ddd;
  border-radius: 0 0 .2em .2em;
  border: 1px solid #bbbbbb;
  margin: 0 .2em;
  padding: .2em 0;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
  margin-top: .25em;
}
.customSelect .option {
  color: #222;
  cursor: pointer;
  padding: .3em .2em;
  list-style: none;
  margin: 0;
  text-align: left;
  font-weight: 400;
  transition: color .3s, background .3s;
}
.customSelect .option:hover {
  background: #cccccc;
}
.customSelect .option:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
.toggle_box .toggle_box_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.toggle_box input[type=checkbox] {
  display: none;
  position: relative;
}
.toggle_box input[type=checkbox]:checked + label {
  background: #222;
}
.toggle_box input[type=checkbox][disabled] + label {
  background: #bbbbbb;
}
.toggle_box input[type=checkbox][disabled]:hover + label {
  background: #bbbbbb;
}
.toggle_box label {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .4em .4em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 90%;
  margin: .3em;
  flex-grow: 1;
  flex-shrink: 0;
}
.toggle_box label:hover {
  background: #888888;
}
.toggle_box label:active {
  background: #666666;
}
.toggle_box .mode_fix {
  min-width: 2.5em;
}
@media screen and (min-width: 65em) {
  .toggle_box label {
    padding: .1em .4em;
  }
}
.segmented_button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.segmented_button input[type=radio] {
  display: none;
  position: relative;
}
.segmented_button input[type=radio]:checked + label {
  background: #222;
}
.segmented_button input[type=radio][disabled] + label {
  background: #bbbbbb;
}
.segmented_button input[type=radio][disabled]:hover + label {
  background: #bbbbbb;
}
.segmented_button label {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .4em .1em;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 0;
  cursor: pointer;
  text-align: center;
  font-size: 90%;
}
.segmented_button label:hover {
  background: #888888;
}
.segmented_button label:active {
  background: #666666;
}
.page {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm .5cm;
  margin: 0 auto 10px;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
}
.page:before {
  counter-increment: p_num;
  content: counter(p_num);
  position: absolute;
  left: 50%;
  top: 10px;
}
.page:after {
  content: counter(p_num);
  position: absolute;
  left: 50%;
  bottom: 15px;
}
.subpage {
  text-align: left;
  font-size: 0;
  font-size: 14px;
  padding-left: 1em;
}
.bt {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .2em;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 100%;
  margin: .1em;
}
.bt:hover {
  background: #888888;
}
.bt:active {
  background: #666666;
}
.button {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 1px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .9em 1.6em;
  margin: .5em .5em 0em;
  background: #f9f9f9;
  text-decoration: none;
  color: #487EC5;
  transition: box-shadow 0.3s, background 0.3s, color 0.3s;
}
.button:hover {
  background: #fefefe;
  color: #376db4;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.mod_win_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mod_win_wrapper .mod_win {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  width: 95%;
  max-width: 50em;
  min-height: 15em;
  top: 1em;
  z-index: 999;
  background: #eeeeee;
  color: #222;
  cursor: default;
  font-weight: normal;
}
.mod_win_wrapper .bCloseInfoWin {
  position: absolute;
  top: -0.2em;
  right: 0;
  padding: .1em .2em;
  font-size: 300%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}
.mod_win_wrapper .bCloseInfoWin:hover {
  color: rgba(0, 0, 0, 0.4);
}
#dbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  cursor: pointer;
}
.filterLabel {
  width: 100%;
  padding: .2em 0.1em 0;
  font-weight: bold;
}
.filterLabel:after {
  content: ":";
}
.customInput {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.customInput input[type=text] {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: text;
  background: #fff;
  padding: .6em;
  padding-right: 1.4em;
  display: block;
  width: 100%;
  margin: 0;
  color: #222;
  font-weight: 400;
}
.customInput .cross {
  position: absolute;
  top: .12em;
  right: .2em;
  color: #ddd;
  cursor: pointer;
  margin: .3em;
  transition: color .3s;
}
.customInput .cross:before {
  content: "✖";
}
.customInput .cross:hover {
  color: #487EC5;
  opacity: .9;
}
.customInput .cross:active {
  color: #265ca3;
  text-shadow: 0 0 3px 3px #222;
  opacity: 1;
}
.customInput:focus {
  box-shadow: 0 0 5px 0 #487EC5;
}
#info_text {
  padding: .6em;
  background: rgba(255, 255, 255, 0.6);
  color: #222;
  font-weight: 600;
}
#topMessage {
  padding: .2em;
  padding-bottom: .3em;
  background: #487EC5;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
#topMessage a {
  color: #fff;
  text-decoration: none;
}
#topMessage .dDetails {
  display: none;
}
#topMessage .bHide {
  align-self: flex-end;
  border: none;
  cursor: pointer;
  padding: .1em .3em;
  margin: .1em .1em 0em;
  background: transparent;
  text-decoration: none;
  color: #fff;
  transition: background .3s, color .3s;
  font-weight: 600;
}
#topMessage .bHide:hover {
  background: #fefefe;
  color: #376db4;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 65em) {
  body {
    background: url('../img/t1.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .page {
    padding-top: 5px;
  }
  .p_cont {
    padding-left: 16em;
    width: 100%;
    padding-top: 0;
  }
}
.monster,
.monster_card {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
}
.monster .lock_monster,
.monster_card .lock_monster,
.monster .unlock_monster,
.monster_card .unlock_monster,
.monster .hide_monster,
.monster_card .hide_monster {
  display: block;
  opacity: .9;
  padding: .8em .7em .6em;
  color: #bbbbbb;
  position: absolute;
  transition: color .3s, opacity .3s .3s;
}
.monster .lock_monster:hover,
.monster_card .lock_monster:hover,
.monster .unlock_monster:hover,
.monster_card .unlock_monster:hover,
.monster .hide_monster:hover,
.monster_card .hide_monster:hover {
  color: #487EC5;
}
.monster .hide_monster,
.monster_card .hide_monster {
  top: 0;
  right: 0;
}
.monster .lock_monster,
.monster_card .lock_monster,
.monster .unlock_monster,
.monster_card .unlock_monster {
  top: 0;
  left: 0em;
}
.monster hr,
.monster_card hr {
  border: none;
  height: 1px;
  background: #5A0000;
}
.monster:hover .hide_monster,
.monster_card:hover .hide_monster,
.monster:hover .lock_monster,
.monster_card:hover .lock_monster,
.monster:hover .unlock_monster,
.monster_card:hover .unlock_monster {
  opacity: 1;
}
.monster {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
  /*float: left;
	width: 30%;*/
  /*margin: 10px 15px;*/
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.monster .i-tipe {
  text-transform: uppercase;
  font-weight: bold;
  color: #5A0000;
}
.monster .i2-tipe {
  font-weight: bold;
  padding: 0 0.4em 0 0;
  font-style: italic;
}
.monster .i3-tipe {
  font-weight: bold;
  color: #5A0000;
  margin: .5em 0 0 .2em;
  font-size: 120%;
  border-bottom: 1px solid #5A0000;
}
.monster .i4-tipe {
  margin: .5em 0;
}
.monster .name {
  font-size: 120%;
  font-weight: bold;
  color: #5A0000;
  margin-left: .7em;
}
.monster .size,
.monster .type,
.monster .alignment {
  font-style: italic;
  padding: 0 0.4em 0 0;
}
.monster .size:after,
.monster .type:after {
  content: ",";
}
.monster .beautifullDescription {
  position: relative;
}
.monster .beautifullDescription img {
  width: 30%;
  min-width: 200px;
  float: right;
  max-height: 100%;
}
.monster .beautifullDescription img:after {
  content: url('../img/who.jpg');
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  height: calc(110%);
  width: 100%;
  background-color: #e6e6e6;
  border: 2px dotted #c8c8c8;
  border-radius: 5px;
}
.monster .beautifullDescription img:before {
  content: " ";
}
.monster .sh_beautifullDescription {
  position: absolute;
  top: -2rem;
  right: 0rem;
  text-decoration: none;
  padding: .1em .3em .2em;
  float: right;
  color: #c4c4c4;
  background: #fff;
  transition: color .2s;
}
.monster .sh_beautifullDescription:hover {
  color: #9d9d9d;
}
.monster .sh_beautifullDescription:active {
  color: #5e5e5e;
}
.monster .stats > span {
  padding: 0 0.6em 0 0;
}
.monster_card {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
  /*float: left;
	width: 30%;*/
  font-size: 90%;
  width: 100%;
  min-width: 45em;
  max-width: 188mm;
  height: 136mm;
  background: #5A0000;
  border-color: #5A0000;
  margin: 10px auto;
  padding: 0;
  overflow: hidden;
  float: none;
  clear: both;
  position: relative;
  page-break-inside: avoid;
}
.monster_card:after,
.monster_card:before {
  content: "";
  float: none!important;
  clear: both!important;
  display: table!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.monster_card .beautifullDescription {
  display: none;
}
.monster_card .left,
.monster_card .right {
  display: block;
  width: 50%;
  height: 136mm;
  float: left;
  padding: .2mm;
}
.monster_card .left .inner,
.monster_card .right .inner {
  -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-bottom-width: 2px;
  background: #fff;
  padding: .4em;
  height: 133mm;
  margin: 1mm;
  overflow-y: auto;
}
.monster_card .left .inner::-webkit-scrollbar,
.monster_card .right .inner::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.monster_card .left .inner::-webkit-scrollbar-thumb,
.monster_card .right .inner::-webkit-scrollbar-thumb {
  background: #777;
}
.monster_card .left .inner::-webkit-scrollbar-track,
.monster_card .right .inner::-webkit-scrollbar-track {
  background: #ddd;
}
.monster_card .left .inner body,
.monster_card .right .inner body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
.monster_card .left .inner::-webkit-scrollbar,
.monster_card .right .inner::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.monster_card .left .inner::-webkit-scrollbar-thumb,
.monster_card .right .inner::-webkit-scrollbar-thumb {
  background: #777;
}
.monster_card .left .inner::-webkit-scrollbar-track,
.monster_card .right .inner::-webkit-scrollbar-track {
  background: #ddd;
}
.monster_card .left .inner body,
.monster_card .right .inner body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
.monster_card .i-tipe {
  text-transform: uppercase;
  font-weight: bold;
  color: #5A0000;
}
.monster_card .i2-tipe {
  font-weight: bold;
  padding: 0 0.4em 0 0;
  font-style: italic;
}
.monster_card .i3-tipe {
  font-weight: bold;
  color: #5A0000;
  margin: 0 0 0 .2em;
  font-size: 120%;
  border-bottom: 1px solid #5A0000;
}
.monster_card .i4-tipe {
  margin: .5em 0;
  font-size: 90%;
}
.monster_card .name {
  font-size: 120%;
  font-weight: bold;
  color: #5A0000;
  margin-left: 1em;
}
.monster_card .size,
.monster_card .type,
.monster_card .alignment {
  font-style: italic;
  padding: 0 0.4em 0 0;
  font-size: 90%;
}
.monster_card .stats > span {
  padding: 0 0.6em 0 0;
}
.monster_card .stats .str,
.monster_card .stats .dex,
.monster_card .stats .con,
.monster_card .stats .int,
.monster_card .stats .wis,
.monster_card .stats .cha {
  display: inline-block;
  width: 4em;
}
.i2-tipe:after {
  content: ":";
}
#lockedMonstersArea {
  margin-bottom: .3em;
  position: relative;
}
#lockedMonstersArea .topHeader,
#lockedMonstersArea .bottomHeader,
#lockedMonstersArea .bUnlockAll {
  font-weight: 600;
  padding: .2em;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.5);
  color: #222;
  border-radius: .1em;
}
#lockedMonstersArea .topHeader,
#lockedMonstersArea .bottomHeader {
  margin-left: 1em;
}
#lockedMonstersArea .bUnlockAll {
  position: absolute;
  top: 0;
  right: 1em;
  cursor: pointer;
}
#lockedMonstersArea .bUnlockAll:hover {
  background: rgba(255, 255, 255, 0.7);
}
#lockedMonstersArea .topHeader {
  cursor: pointer;
}
#lockedMonstersArea .topHeader:hover {
  background: rgba(255, 255, 255, 0.7);
}
#lockedMonstersArea .topHeader:before {
  content: "Закрепленные монстры ";
}
#lockedMonstersArea .bottomHeader:before {
  content: "Каталог монстров ";
}
#lockedMonstersArea .content {
  margin-bottom: .3em;
}
#lockedMonstersArea .bHideSpell {
  display: none;
}
#monsterTypeInfoWindow {
  position: fixed;
  top: .4rem;
  bottom: .4rem;
  left: .4rem;
  right: .4rem;
  z-index: 99;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  padding: 0 .7em 1em;
}
#monsterTypeInfoWindow::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#monsterTypeInfoWindow::-webkit-scrollbar-thumb {
  background: #777;
}
#monsterTypeInfoWindow::-webkit-scrollbar-track {
  background: #ddd;
}
#monsterTypeInfoWindow body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
#monsterTypeInfoWindow::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#monsterTypeInfoWindow::-webkit-scrollbar-thumb {
  background: #777;
}
#monsterTypeInfoWindow::-webkit-scrollbar-track {
  background: #ddd;
}
#monsterTypeInfoWindow body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
#monsterTypeInfoWindow .cross {
  position: absolute;
  top: .2rem;
  right: .4rem;
  font-size: 300%;
  cursor: pointer;
  color: #777;
  opacity: 0.6;
  transition: opacity .3s;
}
#monsterTypeInfoWindow .cross:hover {
  opacity: 1;
}
#monsterTypeInfoWindow .img {
  float: right;
}
.p_side {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: .1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 9;
  color: #fff;
  border-radius: 0 0 3px 0;
  /*/
    input[type='radio']{
        display: none;
    }
    
    input[type='radio'] + label{
            .fr-convex;    
            @w: 2.2em;
            @h: 1em;
            min-width: @w;
            min-height: @h;
            text-align: center;
            background: @m-gray + #111;
           // width: 100%;
            display: inline-block;
            padding: .3em;
            &:hover{
                background: @m-gray + #222;    
            }
            &:active{
                background:  @m-gray;    
            }
            input{
                display: none;
            }
        }
    input[type='radio']:checked + label{
        .fr-concave;
        background:  @m-gray - #222;  
        padding: .3em;  
    }
    /**/
}
.p_side .s_block {
  float: left;
  min-width: 13em;
  max-width: 16em;
  width: 98%;
  margin: .1em;
  text-align: right;
  min-height: 22px;
}
.p_side .flt {
  background: rgba(0, 0, 0, 0.2);
}
.p_side .s_sp {
  margin: 0;
  padding: .1em;
  width: 9em;
}
.p_side .hidden_spells {
  max-width: 99.4%;
  width: 100%;
  text-align: left;
}
.p_side .hidden_spells .a_h_spell {
  display: inline-block;
  display: none;
  text-transform: capitalize;
  color: #fff;
  width: 100%;
  max-width: 2.5in;
  padding: .3em 0;
}
.p_side .hidden_spells .a_h_spell:hover {
  color: #cccccc;
}
.p_side .inline-block {
  display: inline-block;
}
.p_side .block {
  display: block;
  max-width: 100%;
  width: auto;
}
#HiddenMonsters a {
  text-decoration: none;
  color: #ddd;
  transition: color .3s;
}
#HiddenMonsters a:hover {
  color: #6aa0e7;
}
#HiddenMonsters a:active {
  color: #487EC5;
}
#HiddenMonsters .bReturnUnvisible {
  display: block;
  padding: .1em .2em;
  margin-right: 2em;
  margin: .4em 0;
  background: rgba(200, 200, 200, 0.2);
  border-bottom: 1px dashed rgba(100, 100, 100, 0.6);
}
#HiddenMonsters .bUnhideMonster {
  padding: .4em;
}
.mediaWidth {
  margin: .2em;
  flex-grow: 1;
  flex-shrink: 1;
}
.max_width_2 {
  flex-grow: 2;
}
@media screen and (min-width: 65em) {
  .p_side {
    width: 15em;
    margin-right: 1em;
    float: left;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
  }
  .p_side .s_block {
    width: 98%;
  }
  .mediaWidth {
    flex-basis: auto;
  }
}
.loader {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #fff;
  margin: 5px;
  position: relative;
  top: 16px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  /*/
    @w2: @w/2;
    @b: 4px;
    /**/
  /**/
  /**/
  /**/
}
.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border: 10px solid #8DB6F3;
  border-left-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media print {
  .noprint {
    display: none !important;
  }
  #wrap {
    overflow-x: hidden;
  }
  body {
    background: #fff;
    background-image: none;
    margin: 0;
    padding: 0;
  }
  .bHideSpell,
  .bLockSpell,
  .p_side,
  #helper {
    display: none !important;
  }
  .p_cont {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 0;
    overflow: hidden;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  .p_cont .hide_spell {
    display: none;
  }
  .left,
  .right {
    wisth: 50%;
  }
  #wrap {
    margin: 0;
    padding: 0;
  }
  .card {
    width: 2.46in;
    min-width: 0px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  .pagebreak {
    page-break-after: always;
  }
  .card:hover .hide_monster {
    display: none;
  }
  .monster_card .left .inner,
  .monster_card .right .inner {
    overflow-y: hidden;
  }
  * {
    -webkit-print-color-adjust: exact;
  }
  .spellCard .content .text {
    overflow-y: hidden;
  }
  #lockedSpellsArea .topHeader,
  #lockedSpellsArea .bottomHeader {
    display: none;
  }
}
@page {
  margin: 1.14cm .9cm .9cm;
}
